@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

* {
  font-family: "Varela Round", sans-serif;
}
#super-container{
  width:100%;
  background: #000046; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #1cb5e0,
    #000046
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #1cb5e0,
    #000046
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding-bottom: 10%;
}
.parent-container {
  width: 60%;
  height: 70%;
  margin: 0 auto;
  margin-top: 5%;
  border-radius: 10px;
  text-align: center;
}

#login-container {
  text-align: center;
  box-sizing: border-box;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 30px;
  width: 35%;
  height: 80%;
  overflow: hidden;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border: none;
  border-top: 5px solid #000046;
  border-width: 2vh;
  border-radius: 9px;
}

#signin-container {
  box-sizing: border-box;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 30px;
  width: 35%;
  height: 80%;
  overflow: hidden;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border: none;
  border-top: 5px solid #000046;
  border-width: 2vh;
  border-radius: 9px;
}
.input-container {
  display: flex;
  width: 100%;
}

.icon {
  padding-top: 12px;
  background: grey;
  color: white;
  height: 44px;
  min-width: 44px;
  text-align: center;
}
.signup {
  padding-top: 50px;
  padding-left: 20px;
  padding-bottom: 30px;
  width: 35%;
  height: 85%;
  overflow: hidden;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border: none;
  border-top: 5px solid #000046;
  border-width: 2vh;
  border-radius: 9px;
}

.logininput {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #d9d9d9;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.logininput:hover {
  background: #f2f2f2;
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.logininput:focus {
  background: #f2f2f2;
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
#submit {
  margin-top: 15%;
  height: 3rem;
  width: 6rem;
  background-color: #ffffff;
  text-align: center;
  color: #000046;
  border: 2px solid #000046;
  font-weight: bold;
  font-family: "Varela Round", sans-serif;
  border-radius: 4px;
  font-size: medium;
  border-radius: 6px;
  transition: transform 350ms;
}
#submit:hover {
  background-color: #000046;
  color: #ffffff;
  border: 2px solid #000046;
  transition: 0.3s;
  cursor: pointer;
  transform: translateY(-0.3rem);
}
#submit:focus {
  background-color: #000046;
  color: #ffffff;
  border: 2px solid #000046;
  transition: 0.3s;
  cursor: pointer;
  transform: translateY(-0.3rem);
}

#lastbtn {
  color: #000046;
  font-size: medium;
  font-weight: bold;
  background-color: #ffffff;
  height: 3rem;
  width: 6rem;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid #000046;
  transition: transform 350ms;
}
#lastbtn:hover {
  cursor: pointer;
  background-color: #000046;
  color: #ffffff;
  border: none;
  transform: translateY(-0.3rem);
}

#lastbtn:focus {
  cursor: pointer;
  background-color: #000046;
  color: #ffffff;
  border: none;
  transform: translateY(-0.3rem);
}